* {
  background-color: white;
}

.container {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
}

.dish-info {
  padding-right: 20px;
}

.dish-name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.rating {
  color: white;
  font-size: 18px;
  background-color: rgb(14, 216, 14);
}

.dish-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.time {
  font-size: 14px;
  color: #999;
}

.dish-image img {
  max-width: 300px;
  display: flex;
  float: right;
}

@media (max-width: 768px) {
  .dish-image img {
    max-width: 140px;
    height: 200px;
    margin-left: -10px;
  }
  .dish-image {
    margin-top: 40%;
  }
}

.ingredients-container {
  max-width: 1500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.ingredients-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.ingredients-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.ingredients-group {
  margin-bottom: 20px;
}

.ingredients-group-title {
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.ingredient-value {
  font-weight: bold;
  color: #333;
}

.components-container {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  gap: 100px; /* Added gap between icons */
}

.icon {
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.icon img {
  width: 50px;
}

.icon span {
  display: block;
  margin-top: 10px; /* Increased margin-top for more space */
  color: #000;
  background-color: white;
}

.appliances-title {
  color: #000;
  margin-left: 70px;
}